# STEP-BY-STEP for Monte Carlo for Forecast the Gold Pricing

# Pre-requisites
- Data source: https://huggingface.co/datasets/mltrev23/gold-price/blob/main/FINAL_USO.csv

In [5]:
%pip install pandas numpy matplotlib

Requirement already satisfied: pandas in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: numpy in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (1.24.4)
Requirement already satisfied: matplotlib in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/natthawatboonchaiseree/.local/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/natthawatboonchaiseree/.local/lib/python3.8/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/natthawatboonchaiseree/.pyenv/versions/3.8.19/lib/python3.8/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: zipp>=3.1.0 in /Users/natthawatboonchaiseree/.local/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: six>=1.5 in /Users/natthawatboonchaiseree/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Step 1: Import Libraries

Open a new code cell and run the following code to import necessary libraries:

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Step 2: Load the Dataset

Upload your FINAL_USO.csv dataset to the same directory as your notebook file. In a new cell, load and preview the data:

In [7]:
# Load the dataset
data = pd.read_csv("FINAL_USO.csv")
# Display the first few rows to understand the structure
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,SP_open,SP_high,SP_low,...,GDX_Low,GDX_Close,GDX_Adj Close,GDX_Volume,USO_Open,USO_High,USO_Low,USO_Close,USO_Adj Close,USO_Volume
0,2011-12-15,154.740005,154.949997,151.710007,152.330002,152.330002,21521900,123.029999,123.199997,121.989998,...,51.570000,51.680000,48.973877,20605600,36.900002,36.939999,36.049999,36.130001,36.130001,12616700
1,2011-12-16,154.309998,155.369995,153.899994,155.229996,155.229996,18124300,122.230003,122.949997,121.300003,...,52.040001,52.680000,49.921513,16285400,36.180000,36.500000,35.730000,36.270000,36.270000,12578800
2,2011-12-19,155.479996,155.860001,154.360001,154.869995,154.869995,12547200,122.059998,122.320000,120.029999,...,51.029999,51.169998,48.490578,15120200,36.389999,36.450001,35.930000,36.200001,36.200001,7418200
3,2011-12-20,156.820007,157.429993,156.580002,156.979996,156.979996,9136300,122.180000,124.139999,120.370003,...,52.369999,52.990002,50.215282,11644900,37.299999,37.610001,37.220001,37.560001,37.560001,10041600
4,2011-12-21,156.979996,157.529999,156.130005,157.160004,157.160004,11996100,123.930000,124.360001,122.750000,...,52.419998,52.959999,50.186852,8724300,37.669998,38.240002,37.520000,38.110001,38.110001,10728000